<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- bean definitions here -->
    <bean id="pomocnik"
          class="springdemo.TurboObiektPomocniczny">
    </bean>


    <!-- mozna wstrzykiwac przez konstruktor lub settr -->
    <bean id="mojTrener"
        class="springdemo.TrenerBiegania">

        <!-- ta sama nazwa beana musi byc! -->
        <constructor-arg ref="pomocnik"/>
    </bean>


    <bean id="mojTrenerSetterem"
          class="springdemo.TrenerSzermierki">
        <property name="obiektPomocniczy" ref="pomocnik"/>
        <property name="jakasNazwa" value="DZIK" />
    </bean>


</beans>